*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first: #B17457;
  --white: #040403;
  --black: #1B1833;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--first);
  color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
  background-color: yellow; /* Background color */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0.6rem;
}



@media screen and (max-width: 680px) {
  #secondUl{
    display: none;
  }
}