:root {
  --first: #FFBE98;
  --white: #F29F58;
  --black: #1B1833;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* padding-bottom: 31%;  */
}

.container {
  flex: 1;
  height: auto;
}

.mx-auto{
  width: 50%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}


.card{
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}


.footer {
  position: static;
  margin-bottom: 0px;
  margin-top: 2%;
  min-height: 20%;
  width: 100%;
  background-color: var(--black);
  
  text-align: center;
  padding: 1rem 0;
  margin-left: 0;
  margin-right: 0;
}